<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>About author | TestGuru Tutorial Sample App</title>
</head>
<body>
    <p>Link to my GitHub profile</p>
    <p><a href="https://github.com/umeca90">github.com/umeca90</a></p>
    <p>Link to my VK profile</p>
    <p> <a href="https://vk.com/andreika_fsa"><em>vk.com/andreika_fsa</em></a></p>
</body>
</html>

