<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>About project</title>
</head>
<body>
    <p>Приложение TestGuru</p>
    <p>Учебный проэкт от школы Thinknetica</p>
    <p><a href="https://thinknetica.com"><em>Профессиональная разработка на 
    Ruby on Rails</em></a></p>
    <p>TestGuru - веб-сервис для прохождения онлайн-тестов</p>
</body>
</html>