.header.navbar.navbar-dark.bg-dark.shadow-sm
  .container.d-flex.justify-content-between
    .navbar-brand.d-flex.align-items-center = link_to 'Test-Guru', root_path
    img#logo alt=""  src="https://image.flaticon.com/icons/png/512/29/29302.png"



